<div class="pull-right">
  <%= link_to("Add a product", new_admin_product_path, :class => "btn btn-default" ) %>
</div>

<br><br>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <td>商品名称</td>
  <td>商品描述</td>
  <td>商品库存</td>
  <td>商品价格</td>
  <td>商品图片</td>
  <td>管理</td>
  <td>发表时间</td>
  <% @products.each do |product| %>
  <tr class="success">
    <td>
      <%= link_to(product.title, admin_product_path(product)) %>
    </td>
    <td>
    <%= product.description %>
  </td>
    <td>
      <%= product.quanlity %>
    </td>
    <td>
      <%= product.price %>
    </td>
    <td>
      <%= image_tag(product.image) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_product_path(product)) %>|
      <%= link_to("Destroy", admin_product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= product.created_at %>
    </td>
  </tr>
  <% end %>
</table>
</div>
